/* Breakpoints */
$bp-x-small: 375px;
$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-extra-large: 1200px;
$bp-extra-extra-large: 1400px;

/* Fluid fonts */
$baseline: 1.5rem;

$minScreen: 20rem;
$maxScreen: 50rem;
$minFont: 0.85rem;
$maxFont: 1.15rem;

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: 0.875rem;
